body {
    background-color: var(--font-color);
    color: var(--color-primary);
    transition: 5s;
}

.task {
    background-color: var(--color-secondary);
    height: 30px;
    margin: 10px;
}
.hide {
    display: none;
}
.subMainSec {
    background-color: var(--color-accent);
    border-radius: 17px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border: var(--color-third);
    border-width: 10px;
    border-style: solid;
    box-shadow: 10px 15px 30px #000000;
}
.info {
    border-radius: 7px;
    padding: 20px;
    background-color: #ffffff;
}
.task {
    border-radius: 7px;
    padding: 2px;
}
.mainSec {
    width: 100%;
    display: flex;
    justify-content: center;
}
section {
    margin-top: 5%;
}
#page-title {
    display: flex;
    justify-content: center;
}
#searchSec {
    margin-top: 1%;
    float: right;
}
#todoSec {
    width: 30%;
    float: left;
}
#inProgressSec {
    width: 30%;
    float: left;
}
#doneSec {
    width: 30%;
    float: left;
}
#addsection {
    display: flex;
    justify-content: center;
}

span {
    width: 100%;
    margin-left: 40%;
    margin-right: 40%;
}

/* colors */

.theme-purple {
    --color-primary: #501b1d;
    --color-secondary: #83677b;
    --color-third: #64485c;
    --color-accent: #2e1114;
    --font-color: #adadad;
}
.theme-creative {
    --color-primary: #d79922;
    --color-secondary: #efe2ba;
    --color-third: #f13c20;
    --color-accent: #4056a1;
    --font-color: #c5cbe3;
}
.theme-inviting {
    --color-primary: #e7717d;
    --color-secondary: #c2cad0;
    --color-third: #c2b9b0;
    --color-accent: #7e685a;
    --font-color: #afd275;
}
.theme-sleek {
    --color-primary: #2c3531;
    --color-secondary: #116466;
    --color-third: #d9b08c;
    --color-accent: #ffcb9a;
    --font-color: #d1e8e2;
}
.theme-audacious {
    --color-primary: #272727;
    --color-secondary: #747474;
    --color-third: #ff652f;
    --color-accent: #ffe400;
    --font-color: #14a76c;
}
.theme-traditional {
    --color-primary: #88bdbc;
    --color-secondary: #254e58;
    --color-third: #112d32;
    --color-accent: #4f4a41;
    --font-color: #6e6658;
}
.theme-love {
    --color-primary: #a1c3d1;
    --color-secondary: #b39bc8;
    --color-third: #f0ebf4;
    --color-accent: #f172a1;
    --font-color: #e64398;
}
.theme-striking {
    --color-primary: #172605;
    --color-secondary: #176521;
    --color-third: #53900f;
    --color-accent: #a4a71e;
    --font-color: #d6ce15;
}
/* button */

.container:hover {
    background-color: var(--color-primary);
    transition: all 0.3s ease-in-out;
}

.container {
    outline: none;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    border-radius: 5px;

    border-style: solid;
    color: white;
    transform: scale(1.1);
}

/* select option */
.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 250px;
    height: 40px;
}

.option {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: #333;
    border-top: #222 solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background 0.4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.option:hover {
    background: #666;
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}

input:checked + label {
    order: 1;
    z-index: 2;
    background: #666;
    border-top: none;
    position: relative;
}

input:checked + label:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}

input:checked + label:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    content: '';
    background: #666;
}
/* form not mine */

.form {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    border-radius: 7px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form h1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5c5c5c;
    font-size: x-large;
}
.form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.form li {
    display: block;
    padding: 9px;
    border: 1px solid #dddddd;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form li:last-child {
    border: none;
    margin-bottom: 0px;
    text-align: center;
}
.form li > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #ffffff;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #b9b9b9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form input[type='text'],
.form input[type='date'],
.form input[type='datetime'],
.form input[type='email'],
.form input[type='number'],
.form input[type='search'],
.form input[type='time'],
.form input[type='url'],
.form input[type='password'],
.form textarea,
.form select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form li > span {
    background: #f3f3f3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form textarea {
    resize: none;
}
.form input[type='submit'],
.form input[type='button'] {
    background: #2471ff;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994ff;
    border-radius: 3px;
    color: #d2e2ff;
}
.form input[type='submit']:hover,
.form input[type='button']:hover {
    background: #6b9fff;
    color: #fff;
}
