.task {
    background-color: crimson;
    height: 30px;
    margin: 10px;
}
.hide {
    display: none;
}
section {
    margin-top: 5%;
}
#page-title {
    display: flex;
    justify-content: center;
}
#searchSec {
    margin-top: 1%;
    float: right;
}
#todoSec {
    width: 30%;
    float: left;
}
#inProgressSec {
    width: 30%;
    float: left;
}
#doneSec {
    width: 30%;
    float: left;
}
#addsection {
    display: flex;
    justify-content: center;
}

span {
    width: 100%;
    margin-left: 40%;
    margin-right: 40%;
}
